@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 10px;
  padding: 5px;
  font-family: Quicksand, sans-serif;
}

a {
  text-decoration: none;
}